/.sonar
/src/test/java
/src/main/java
/src/test/scala-2.11
/src/main/scala-2.11
target
*.class

*.DS_Store

*.iml
*.ipr
*.iws
.idea
out
/src/main/scala/com/city81/spark/football/HistoricalFootballData.scala
/src/main/scala/com/city81/spark/football/HistoricalFootballDataMatch.scala
